   <div class="col-lg-4 offset-lg-4 align-items-center  p-3 mb-5 rounded border ">
   	<h3 class="fs-1 mb-2">RemitEx Account Login</h3>
   	<p class="fs-5 muted">Login with your email</p>
    <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3">Submit</button>

  </form>
  <div class="position-relative mb-5">
  	<a href="#" class="position-absolute mx-4 top-0 start-0 translate-middle-x ">Register</a>
  	<a href="#" class="position-absolute top-0 end-0 translate-middle-x">Forgot password</a>
  </div>
   	 
   </div>