<remit-header></remit-header>
  <remit-market-trend></remit-market-trend>
  <remit-support></remit-support>
  <!--<div class="row">
  <div class="col-md-1">
    <div class="p-1 my-3">
      <i class="fas fa-user mx-2"></i> <span class="">Dashboard</span>
    </div>
    <div class="p-1 my-3">
      <i class="fas fa-users-cog mx-2"></i> <span class="">Users</span>
    </div>

    <div class="p-1 my-3">
      <i class="fas fa-exchange-alt mx-2"></i> <span class="">Exchanges</span>
    </div>

    <div class="p-1 my-3">
      <i class="fas fa-ticket-alt mx-2"></i> <span class="">Supports</span>
    </div>
    <div class="p-1 my-3">
      <i class="fas fas fa-coins mx-2"></i> <span class="">Currencies</span>
    </div>

    <div class="p-1 my-3">
      <i class="fas fa-cash-register mx-2"></i> <span class="">Platforms</span>
    </div>
  </div>
  <div class="col-md-11">
    <div class="row">
      <div class="col-sm-12">
        User Detail
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        Left
      </div>

      <div class="col-md-4">
        Right
      </div>
    </div>
  </div>
</div>
 -->