<header class="py-5 bg-light ">
            <div class="container px-5 " >
                <div class="row gx-5 mb-4 justify-content-left" >
                    <div class="col-lg-8">
                        <div class="text-left my-5">
                            <h1 class="display-5 fw-bolder mb-2">Exchange Currencies in minutes</h1>
                            <p class="lead text-black-50 mb-3">Try the fastest exchange solution!</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-left">
                                <a class="btn btn-primary btn-md px-6 gx-6 me-sm-3" href="#features">
                                    <span class="fs-6">Start Exchanging</span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row gx-5 gy-5 justify-content-left" >
                    <remit-header-quotes *ngFor = "let i of [1,2,3,4,5]"
                    class="col-lg-2"></remit-header-quotes>

                </div>
            </div>
        </header>
