<div class="col-lg-6 offset-lg-3 align-items-center  p-3 mb-5 rounded border ">
   	<h3 class="fs-1 mb-2">RemitEx-change</h3>
   	<p class="fs-5 muted">fast exchange</p>
    <form>
		<div class="row g-2">
			<div class="col-1 fs-6 py-2">Change</div>
		  <div class="col-5">
		    <div class="form-floating">
		      <input type="number" class="form-control" id="floatingInputGrid" placeholder="10.0" value="">
		      <label for="floatingInputGrid">Amount</label>
		    </div>
		  </div>
		  <div class="col-5 offset-1">
		    <div class="form-floating">
		      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
		        <option selected>Open this select menu</option>
		        <option value="1">One</option>
		        <option value="2">Two</option>
		        <option value="3">Three</option>
		      </select>
		      <label for="floatingSelectGrid">Currency</label>
		    </div>
		  </div>
		</div>

		<div class="row g-2 my-2">
			<div class="col-1 fs-6 py-2">On</div>
		  <div class="col-5">
		    <div class="form-floating">
		      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
		        <option selected>Open this select menu</option>
		        <option value="1">Binance</option>
		        <option value="2">Two</option>
		        <option value="3">Three</option>
		      </select>
		      <label for="floatingSelectGrid">Payment Platform</label>
		    </div>
		  </div>

		  <div class="col-1 fs-6 py-2 text-center">To</div>
		  <div class="col-5">
		    <div class="form-floating">
		      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
		        <option selected>Open this select menu</option>
		        <option value="1">One</option>
		        <option value="2">Two</option>
		        <option value="3">Three</option>
		      </select>
		      <label for="floatingSelectGrid">Currency</label>
		    </div>
		  </div>

		</div>

		
		<div class="row g-2 my-2">
			<div class="col-1 fs-6 py-2">On</div>
		  <div class="col-5">
		    <div class="form-floating">
		      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
		        <option selected>Open this select menu</option>
		        <option value="1">Binance</option>
		        <option value="2">Two</option>
		        <option value="3">Three</option>
		      </select>
		      <label for="floatingSelectGrid">Credit Platform</label>
		    </div>
		  </div>

		  <div class="col-1 fs-6 py-2 text-center">With</div>
		  <div class="col-5">
		    <div class="form-floating">
		      <input type="text" class="form-control" id="floatingInputGrid" placeholder="10.0" value="">
		      
		      <label for="floatingSelectGrid">Account Detail</label>
		    </div>
		  </div>
		</div>
		
		
		<div class="d-grid gap-2 col-6 mx-auto">
		  <button class="btn btn-primary" type="button">Excecute</button>
		  <button class="btn btn-primary" type="button">Cancel</button>
		</div>

  </form>
 
   	 
   </div>