<div class="container-fluid">
	<div class="row ">
	  <div class="col-md-2 col-lg-1 col-sm-12 shadow-sm">
	  	<remit-admin-nav (tabClicked) = "onTabClick($event)"></remit-admin-nav>
	  </div>
	  
	  <div class="col-md-10 col-lg-11 col-sm-12 border">
	    <remit-admin-header></remit-admin-header>
	    <remit-admin-support></remit-admin-support>
	    
	    <!--<remit-admin-dashboard></remit-admin-dashboard> -->

	    <!--<remit-admin-users></remit-admin-users> 

	    <remit-admin-exchanges></remit-admin-exchanges>

	    <remit-admin-currencies></remit-admin-currencies>-->
	    
	  </div>
	</div>
</div>
